.videoContainer {
  height: 40vh;
  width: fit-content;
  position: relative;
  float: right;
  border-radius: 16px;
  margin-bottom: 32px;
  margin-bottom: 6rem;
}

.videoContainer:nth-child(odd) {
  height: 40vh;
  width: fit-content;
  position: relative;
  float: left;
  border-radius: 16px;
}

.video {
  max-height: 600px;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.videoOverlay {
  position: absolute;
  border-radius: 16px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.videoText {
  font-size: 100px;
  line-height: 100px;
  font-weight: bolder;
  position: absolute;
  left: -30%;
  bottom: 0;
  color: var(--application-turquoise-blue);
}

.videoText > p {
  margin: 0;
  padding: 0;
}

.videoText > p:nth-child(2) {
  font-size: 24px;
  line-height: 28px;
  padding-top: 24px;
  color: var(--application-text);
  background-color: white;
  border-top-right-radius: 16px;
  border-top-left-radius: unset;

  padding-right: 16px;
}
.videoText > p:nth-child(3) {
  font-size: 16px;
  line-height: 20px;
  background-color: white;
  color: var(--application-text-light);
  padding-bottom: 24px;
  padding-right: 16px;
  padding-top: 8px;
}

.videoContainer:nth-child(odd) > .videoText {
  right: -30%;
  left: unset;
}
.videoContainer:nth-child(odd) > .videoText > p:nth-child(2) {
  border-top-left-radius: 16px;
  border-top-right-radius: unset;
  padding-left: 16px;
}

.videoContainer:nth-child(odd) > .videoText > p:nth-child(3) {
  padding-left: 16px;
}

@media screen and (max-width: 1100px) {
  .videoText {
    left: -10%;
  }
  .videoContainer:nth-child(odd) > .videoText {
    right: -10%;
    left: unset;
  }
}
@media screen and (max-width: 900px) {
  .videoText {
    left: 0;
  }
  .videoContainer:nth-child(odd) > .videoText {
    right: 0;
    left: unset;
  }
  .videoContainer {
    height: 40vh;
    float: unset;
    margin: 3rem auto;
  }

  .videoContainer:nth-child(odd) {
    height: 40vh;
    margin: 3rem auto;
    float: unset;
  }

  .videoText {
    font-size: 50px;
    line-height: 50px;
  }

  .videoText > p:nth-child(2) {
    font-size: 22px;
    line-height: 22px;
    padding-top: 16px;
    padding-right: 16px;
  }
  .videoText > p:nth-child(3) {
    padding-bottom: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 600px) {
  .videoText {
    left: 0;
  }
  .videoContainer:nth-child(odd) > .videoText {
    right: 0;
    left: unset;
  }
  .videoContainer {
    height: 25vh;
    margin: 3rem auto;
  }

  .videoContainer:nth-child(odd) {
    height: 25vh;
    margin: 3rem auto;
  }

  .videoText {
    font-size: 32px;
    line-height: 32px;
  }

  .videoText > p:nth-child(2) {
    font-size: 16px;
    line-height: 18px;
    padding-top: 8px;
    padding-right: 8px;
  }
  .videoText > p:nth-child(3) {
    padding-bottom: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 432px) {
  .videoContainer {
    height: 24vh;
  }

  .videoContainer:nth-child(odd) {
    height: 24vh;
  }

  .videoText {
    bottom: -2rem;
  }
}
